@charset "UTS-8";

/* Desclarações gerais*/
*{
    margin: 0px;
    padding: 0px;

}
html, body{
    width: 100vw;
    height: 100vw;
    background-color: rgb(73, 45, 255);
    background-size: contain;
    background-repeat: no-repeat;
}
h1{
    color: white;
    text-shadow: 3px, 3px, 0px blue;
    padding: 10px;
}
/* Desclarações em pe*/
@media screen and (orientation: portrait){
body{
    background-image: url(../imagens/cev-portrait.jpg);
    background-position: center bottom;

}
}

/* Desclarações deitado*/
@media screen and (orientation: landscape) {
    body{
    background-image: url(../imagens/cev-landscape.jpg); 
    background-position: left bottom;
}
}
